services:
  backend:
    build:
      context: .
      dockerfile: docker/dev.dockerfile
    volumes:
      - .:/app/
    ports:
      - 7331:7331

  tailwind:
    image: node:lts-alpine
    working_dir: /app
    command: yarn tw:dev
    tty: true
    volumes:
      - .:/app/

  yarn:
    profiles:
      - dev
    image: node:lts-alpine
    working_dir: /app
    entrypoint: yarn
    volumes:
      - .:/app/

  go:
    profiles:
      - dev
    image: golang:1.25-alpine
    working_dir: /app
    entrypoint: go
    volumes:
      - .:/app/
