package components

import (
	"gitlab.unjx.de/flohoss/godash/services"
)

templ Link(link services.Link) {
	<a href={ templ.URL(link.URL) } class="hover-effect">
		<div class="uppercase truncate">{ link.Name }</div>
	</a>
}
