<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ block "title" . }}GoDash{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A blazing fast start-page for services written in Go " />
    <meta name="theme-color" content="#d07915" />

    <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
    <style>
      .bookmark-link:hover .img {
        opacity: 1;
        transition: opacity linear 0.15s;
      }
    </style>
    <link rel="stylesheet" href="/static/css/style.css?v={{ env "VERSION" }}" />
    {{ block "style". }}{{ end }}
  </head>

  <body>
    <div class="absolute top-2 right-3 text-xs text-gray-500">{{ env "VERSION" }}</div>
    <div class="p-4 sm:p-6 lg:p-8 xl:container xl:py-12">{{ block "content" . }}{{ end }}</div>
    {{ block "js". }}{{ end }}
  </body>
</html>
