@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: lofi;
  default: true;
  prefersdark: false;
  --color-primary: #d97708;
  --color-secondary: #333333;
  --color-accent: #333333;
}

@plugin 'daisyui/theme' {
  name: dark;
  default: false;
  prefersdark: true;
  --color-primary: #d97708;
  --color-secondary: #d3d3d3;
  --color-accent: #eeeeee;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=theme(--breakpoint-sm)) {
    padding-inline: 1.5rem;
  }

  @media (width >=theme(--breakpoint-lg)) {
    padding-inline: 2rem;
  }

  @media (width >=theme(--breakpoint-xl)) {
    padding-inline: 2.5rem;
  }
}

@utility extra-info {
  @apply whitespace-nowrap;
}

@utility grid-extras {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-6 select-none;
}

@utility grid-apps {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4;
}

@utility hover-effect {
  @apply opacity-85 hover:opacity-100 transition duration-300 no-underline md:hover:underline underline-offset-3 decoration-primary text-sm;
}

@utility heading {
  @apply text-lg select-none truncate underline decoration-primary underline-offset-4;
}

@utility distance {
  @apply flex items-center gap-2;
}

@utility icon {
  @apply flex-shrink-0 size-10;
}

@utility text-secondary {
  @apply text-xs;
}