@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: lofi;
  default: true;
  prefersdark: false;
  --color-primary: #333333;
  --color-secondary: #414141;
}

@plugin 'daisyui/theme' {
  name: business;
  default: false;
  prefersdark: true;
  --color-primary: #dddddd;
  --color-secondary: #a1a1a1;
}

@utility container {
  margin-inline: auto;
  padding: 1rem;

  @media (width >=theme(--breakpoint-sm)) {
    padding: 1.5rem 2rem;
  }

  @media (width >=theme(--breakpoint-lg)) {
    padding: 2rem 2.5rem;
  }

  @media (width >=theme(--breakpoint-xl)) {
    padding: 2.5rem 3rem;
  }
}

@utility extra-info {
  @apply whitespace-nowrap;
}

@utility grid-apps {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4;
}

@utility hover-effect {
  @apply no-underline md:hover:underline underline-offset-3 decoration-primary text-sm;
}

@utility heading {
  @apply text-lg text-secondary select-none truncate underline decoration-primary underline-offset-4;
}

@utility hover-box {
  @apply lg:text-base-content opacity-85 hover:opacity-100 transition duration-150 hover:scale-102;
}