@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "daisyui";

@plugin 'daisyui/theme' {
  name: garden;
  default: true;
  prefersdark: false;
  --color-primary: #f28c18;
  --color-secondary: rgba(70, 70, 70, 0.7);
}

@plugin 'daisyui/theme' {
  name: halloween;
  default: false;
  prefersdark: true;
  --color-secondary: a0a0a0;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility progress-bar {
  @apply transition-[width] duration-700 bg-primary h-1 rounded-full;
}

@utility progress-bar-wrapper {
  @apply bg-primary-content h-1 rounded-full mt-1;
}

@utility system-icon {
  @apply h-8 w-8 shrink-0 mr-3 opacity-90;
}

@utility extra-icon {
  @apply h-3 w-3 shrink-0 mr-2 text-primary;
}

@utility extra-sun-icon {
  @apply h-4 w-4 shrink-0 -mb-1 mr-2 text-primary;
}

@utility grid-apps {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4;
}

@utility extra-info {
  @apply text-xs truncate text-secondary;
}

@utility hover-effect {
  @apply no-underline md:hover:underline underline-offset-2 decoration-primary text-sm opacity-80 hover:opacity-100 transition-all ease-linear duration-150;
}

@utility heading {
  @apply text-lg text-secondary select-none truncate underline decoration-primary underline-offset-4;
}
